body {
    margin: 0
}

aside {
    width: 220px;
    height: 1701px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    height: 536px;
    width: 220px;
    left: 0%;
}

.retangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(#FFB354, #EE7A3A);
    width: 220px;
    height: 68px;
}

.nome-evento {
    position: absolute;
    left: 9.09%;
    right: 10%;
    width: 178px;
    height: 68px;
    top: 0%;
    bottom: 0%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.box-logo-evento {
    position: static;
    width: 220px;
    height: 258px;
    left: 0px;
    top: 68px;
    background-color: rosybrown;
    position: absolute;
}

.logo-evento {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: url('images/dewey\ 4.png');
}

.menu-apresent {
    position: static;
    width: 220px;
    height: 35px;
    left: 0px;
    margin-top: 326px;
    display: flex;
    flex-direction: column;
}

.menu-apresent-text {
    width: 99px;
    display: flex;
    height: 19px;
    margin-top: 7px;
    margin-bottom: 25.71%;
    margin-left: 24px;
    font-weight: 500;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18,75px;
    flex-direction: column;
    color: #725C5C;
}

.barra1 {
    background: #E7E7E7;
    flex-direction: column;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 7px;
    margin-bottom: 0%;
    width: 220px;
    height: 2px;
}

.menu-comites {
    position: static;
    width: 220px;
    height: 35px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.menu-comites-text {
    width: 99px;
    display: flex;
    height: 19px;
    margin-top: 7px;
    margin-left: 24px;
    font-weight: 500;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18,75px;
    flex-direction: column;
    color: #725C5C;
}

.barra2 {
    background: #E7E7E7;
    flex-direction: column;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 7px;
    margin-bottom: 0%;
    width: 220px;
    height: 2px;
}

.menu-autores {
    position: static;
    width: 220px;
    height: 35px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.menu-autores-text {
    width: 99px;
    display: flex;
    height: 19px;
    margin-top: 7px;
    margin-left: 24px;
    font-weight: 500;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18,75px;
    flex-direction: column;
    color: #725C5C;
}

.barra3 {
    background: #E7E7E7;
    flex-direction: column;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 7px;
    margin-bottom: 0%;
    width: 220px;
    height: 2px;
}

.menu-eixos {
    position: static;
    width: 220px;
    height: 33px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.menu-eixos-text {
    width: 110px;
    display: flex;
    height: 19px;
    margin-top: 7px;
    margin-left: 24px;
    font-weight: 500;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18,75px;
    flex-direction: column;
    color: #725C5C;
}

.barra4 {
    background: #E7E7E7;
    flex-direction: column;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 7px;
    margin-bottom: 0%;
    width: 220px;
    height: 2px;
}

.menu-trabalhos {
    position: static;
    width: 220px;
    height: 41px;
    left: 0px;
    display: flex;
    flex-direction: column;
    background: #FDF1EB;
}

.barra5 {
    width: 5px;
    height: 41px;
    background: linear-gradient(#FFB354, #EE7A3A);
    position: absolute;
    margin-left: 0%;
    margin-right: 97.73%;
    margin-top: 0%;
    margin-bottom: 5.71%;
}

.menu-trabalhos-text {
    width: 110px;
    display: flex;
    height: 19px;
    margin-top: 7px;
    margin-left: 24px;
    font-weight: 500;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18,75px;
    flex-direction: column;
    color: #725C5C;
}

.barra6 {
    background: #E7E7E7;
    flex-direction: column;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 0%;
    width: 220px;
    height: 2px;
}

.menu-contato {
    position: static;
    width: 220px;
    height: 33px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.menu-contato-text {
    width: 110px;
    display: flex;
    height: 19px;
    margin-top: 7px;
    margin-left: 24px;
    font-weight: 500;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 18,75px;
    flex-direction: column;
    color: #725C5C;
}

.barra7 {
    background: #E7E7E7;
    flex-direction: column;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 7px;
    margin-bottom: 0%;
    width: 220px;
    height: 2px;
}

header {
    position: absolute;
    width: 1146px;
    height: 68px;
    left: 220px;
    top: 0px;
    background: #FDF1EB;
    display: flex;
}

.header-text1 {
    width: 391px;
    height: 16px;
    margin-top: 5px;
    position: absolute;
    margin-left: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.header-text2 {
    width: 643px;
    height: 26px;
    margin-top: 23px;
    position: absolute;
    margin-left: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25,78px;
    color: #725C5C;
}

main {
    position: absolute;
    width: 1059px;
    height: 1382px;
    left: 263px;
    top: 88px;
}

footer {
    position: absolute;
    width: 1146px;
    height: 181px;
    left: 220px;
    top: 1520px;

}

.image-footer {
    margin-left: 14px;
    position: absolute;
    left: 1.22%;
    margin-right: 4.01%;
    margin-top: 0%;
    margin-bottom: 0%;
}